#h1-bene {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.container-icon2 {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
    margin-top: 1rem;
    margin-right: 6rem;
    display: grid;
}

#pro {
    margin-left: 90px;
}