#h1-corona {
    margin-top: 10rem;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

#corona {
    vertical-align: middle;
    border-style: none;
    height: 60rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) and (min-device-width: 320px) {
    #corona {
        vertical-align: middle;
        border-style: none;
        width: 72rem;
    }
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #E5FDE8;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #5452F6;
    background: #E5FDE8;
}


/* Add indicator arrow for the active tab */

@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #E5FDE8;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.row-corona {
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
    margin-left: 60px;
}