#h1-corona {
    margin-top: 10rem;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) and (min-device-width: 320px) {
    #corona {
        vertical-align: middle;
        border-style: none;
        width: 72rem;
    }
}