#h1-nine {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: -1rem;
    margin-bottom: 6rem;
}

#h2-nine {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: whitesmoke;
    margin-bottom: 8rem;
}