.row:before,
.row:after {
    display: none !important;
}

#h1-nine {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: -1rem;
    margin-bottom: 6rem;
}

#h2-nine {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: whitesmoke;
    margin-bottom: 8rem;
}

#pro1 {
    margin-left: 86px;
}

#pro2 {
    margin-left: 24px;
}

@media only screen and (max-width: 480px) {
    .socialmedia {
        width: 5rem;
    }
}