.row:before,
.row:after {
    display: none !important;
}

#h1-nine {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: -1rem;
    margin-bottom: 6rem;
}

#h2-nine {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: whitesmoke;
    margin-bottom: 8rem;
}

#pro1 {
    margin-left: 100px;
}

#pro2 {
    margin-left: 24px;
}

#pro3 {
    margin-left: 11px;
}

#pro4 {
    margin-left: 95px;
}

#pro6 {
    margin-left: 85px;
}

#pro7 {
    margin-left: 46px;
}

#pro7 {
    margin-left: 28px;
}

#pro8 {
    margin-left: 12px;
}

#pro9 {
    margin-left: 16px;
}

#pro10 {
    margin-left: 46px;
}

@media only screen and (max-width: 480px) {
    .socialmedia {
        width: 5rem;
    }
}