.app {
    max-width: var(--sectionWidth);
    margin: 40px auto;
    width: 97%;
    color: #49b6ff;
}

#css {
    color: #49b6ff;
}

#js {
    color: #fcf300;
}

#html {
    color: #072ac8;
}

@media only screen and (max-width: 480px) {
    .css {
        width: 5rem;
    }
    .js {
        width: 5rem;
    }
    .html {
        width: 5rem;
    }
    .ruby {
        width: 5rem;
    }
}