<footer class="footer">
   <div class="smedia">
     
     <h4 class="h4-fo">Subscribe to our Newsletter :</h4>

   <form id="loco-form" class="form-inline">
     <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button>
   </form>

   </div>
   




   <div class="lanzo">

   <ul>
   <p><a href="/path/testimonials/page">Testimonials</a></p>
   <p><a href="/path/about/page">About</a></p>
   <p><a href="/path/contact/page">Contact</a></p>
  
   
   </ul>
   </div>

   <div class="lanza">
   <ul>
   <p><a href="/path/contact/page">Support</a></p>
   <p><a href="/path/benefits/page">Benefits</a></p>
   

   </ul>

   </div>


   <div class="cntct">
   <h4 class="h4-fo">Ready to get <strong>started?</strong></h4>
   <a href="/path/contact/page"><button id="start-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Start</button></a>
    <div class="icons-social">


   <a href="https://www.instagram.com/shiv_flex/"><i id="social-icons" class="fab fa-instagram-square fa-2x"></i></a>
   <i id="social-icons" class="fab fa-facebook-square fa-2x"></i>
   <i id="social-icons" class="fab fa-twitter-square fa-2x"></i>
   </div>
   </div>




 </footer> 
