<footer class="footer">
   <div class="smedia">
     
     <h4 class="h4-fo">Subscribe to our Newsletter :</h4>

   <form id="loco-form" class="form-inline">
     <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button>
   </form>

   </div>
   



  <div class="lanz-container">
  <div class="row">
  <div class="lanzo">
  <div class="col-lg-6">
   <ul>
   <p><a href="/path/testimonials/page", remote: true>Testimonials</a></p>
   <p><a href="/path/about/page", remote: true>About</a></p>
   <p><a href="/path/contact/page", remote: true>Contact</a></p>
   </ul>
   </div>
  </div>

   <div class="lanza">
   <div class="col-lg-6">
   <ul>
   <p><a href="/path/contact/page", remote: true>Support</a></p>
   <p><a href="/path/benefits/page", remote: true>Benefits</a></p>
   </ul>
   </div>
  </div>
</div>
</div>

   <div class="cntct">
   <h4 class="h4-fo">Ready to get <strong>started?</strong></h4>
   <a href="/path/contact/page"><button id="start-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Start</button></a>
  

 
    <div class="icons-social">
   

  <a href="https://www.instagram.com/shiv_flex/", remote: true><img class="icon-sm" src="https://img.icons8.com/nolan/96/instagram-new.png"/></a> 
  <img class="icon-sm" src="https://img.icons8.com/nolan/96/facebook.png"/>
  <img class="icon-sm" src="https://img.icons8.com/nolan/96/snapchat.png"/>
   </div>
  
 </div>



 </footer> 
