<div class="glitchy">
<main class="center">
  <h1>
    <span class="glitch" data-text="?????????">
      Shiv-Flex
    </span>
  </h1>
</main>
</div>

<h1 id="h1-about">Web-Development / Social Media Management Agency</h1>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro3" src="https://img.icons8.com/nolan/96/about-us-male.png" alt="Web-development"/>                    
                    <h3 id="abto">Generation Z</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We are a young and very motivated team of developers all around the world and our goal is to implement our creativity into unique websites.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/e-learning-2.png" alt="Studied-Icon"/>                    
                    <h3 id="abto">Highly Skilled</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Our Developers have completed a very known cours called "Le Wagon", one of the best coding camps all around the world.</p><a id="lewagon" href="https://www.lewagon.com/">"Le Wagon"</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro15" src="https://img.icons8.com/nolan/96/love-message.png" alt="Client-Icon"/>                    
                    <h3 id="abto">Clients</h3>
                    
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We work very close with our clients to get their specific ideas to implement those in our work, so that we can create the best possible product for our clients. We want to insure that our clients get the best possible product. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h1 id="h1-about">What are our targets?</h1>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro11" src="https://img.icons8.com/nolan/96/accuracy.png" alt="Accuracy-Icon"/>                  
                    <h3 id="abto">Accuracy</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>With a combination of our Social media Management and the Web-Developement we want to generate more costumers via online sources. Due to this online presence another pendemic like COVID-19 would have a smaller impact on their business.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="investement" src="https://img.icons8.com/nolan/96/donation.png" alt="Investement-Icon"/>                    
                    <h3 id="abto">Investement</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>In the past we met a lot of managers who paid to much money for their website, because they had no reference to compare. We want business owners to get the best possible service and product for their money, that`s why we work so close with our clients.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="design-ic" src="https://img.icons8.com/nolan/96/design.png" alt="Design-Icon"/>                    
                    <h3 id="abto">Unique Designs</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We are known for our special Designs of our Web-Applications and we want to give the Website market a new touch, starting with the Websites in Luxembourg, where 80% of those are very low level and insecured with a very basic design.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


   <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/", remote: true>Home</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page", remote: true>About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page", remote: true>Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page", remote: true>Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page", remote: true><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>