<div class="glitchy">
<main class="center">
  <h1>
    <span class="glitch" data-text="?????????">
      Shiv-Flex
    </span>
  </h1>
</main>
</div>

<h1 id="h1-about">Who are we?</h1>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/about-us-male.png"/>                    
                    <h3 id="abto">Young</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/e-learning-2.png"/>                    
                    <h3 id="abto">Le Wagon</h3>
                    
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/love-message.png"/>                    
                    <h3 id="abto">Clients</h3>
                    
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h1 id="h1-about">What are our targets?</h1>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/about-us-male.png"/>                    
                    <h3 id="abto">Young</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/e-learning-2.png"/>                    
                    <h3 id="abto">Le Wagon</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/love-message.png"/>                    
                    <h3 id="abto">Clients</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>