<h1 id="h1-about">Our Corona-Package for Businesses</h1>

<h2 id="h1-eight">How does it work?</h2>

<div class="about-cont">
    <div class="row">
        <div class="card">
            <div class="col-lg-12">
                <div class="face face1">
                    <div class="content">
                        <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1602947926/Exampleshiv-corona_hkjv5h.png" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>