<div class="banner landing" id="banner-landing"
  style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1 class="h1-banner"><img class="h1-banner"src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601228575/8CF832A5-CA57-4554-B1FF-96D24DEBEE12_a1bn0h.png" alt="Social Media Management Agency"></h1>
      <p class="young">Young. Dynamic. Effective.</p>

    </div>
    <div class="banner-container-right">
        <img id="iphone" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1599334035/18EF16D5-9A40-4419-897F-FDCE0A9FB2F0_iphonexspacegrey_portrait_gzlowf.png" alt="Social media Management"/>
      <img id="laptop"
        src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png" alt="Web Application Development"/>
    </div>
  </div>
</div>

<div class="mymodalcss">
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4">
            <h3>Push notifications</h3> <i class="fa fa-bell"></i>
            <p class="r3 px-md-5 px-sm-1">Recieve push notifications to be updated to latest news.</p>
            <div class="text-center mb-3"> <button class="btn btn-primary w-50 rounded-pill b1">Subscribe</button> </div> <a href="#">Not now</a>
        </div>
    </div>
</div>
</div>

<script>
$(window).on('load', function(){
    setTimeout(function(){
        $('#mymodal').modal('show')
    }, 3000);
});
</script>

<div id="screen"></div>
<div id="modal">  
    <button id="modal-close1">x</button>
    <p>Thank you for your question.</p>
</div>



<div>
<h1 id="h1-first">Web-Applications, CMS or Social Media Management?</h1>
<h2 id="h2-2_0">GROW your Bunsiness with:</h2>

</div>
<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>WEB-APP <br> 
DEVELOPMENT</h1>
          <p>Web-Application Development</p>
        </div>
        <a href="/path/web_application/page", remote: true>PRESS HERE</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div id="fix" class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>WEBSITE AND<br> 
E-COMMERCE</h1>
          <p>CMS Development</p>
        </div>
        <a href="/path/web_development/page", remote: true>PRESS HERE</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
   
    
  </div>
</div>






<h2 id="h2-3_0">How we work for Web-Development or Social Media Management</h2>

<div class="big-container">
<div class="row_info">
<div class="container-icon">
  <div class="shivflex-pros">
<div class="col-lg-4 fast">
    <img id="icons-fo" src="https://img.icons8.com/nolan/96/idea-sharing.png" alt="Concept-Icon"/>    
    <h2 class="h2-5">Concept creation</h2>
    <div class="card4">
      <div class="card-body">
      <p class="card-text">In each case, our creative team will create certain concepts for the client’s project based on the information we received at the client’s free meeting.</p>
      </div>
    </div>
  </div>
</div>

<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
  


  


