<div class="banner landing" id="banner-landing"
  style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1 class="h1-banner"><img class="h1-banner"src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601228575/8CF832A5-CA57-4554-B1FF-96D24DEBEE12_a1bn0h.png" alt="Social Media Management Agency"></h1>
      <p class="young">Young. Dynamic. Effective.</p>

    </div>
    <div class="banner-container-right">
        <img id="iphone" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1599334035/18EF16D5-9A40-4419-897F-FDCE0A9FB2F0_iphonexspacegrey_portrait_gzlowf.png" alt="Social media Management"/>
      <img id="laptop"
        src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png" alt="Web Application Development"/>
    </div>
  </div>
</div>

<div class="mymodalcss">
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4">
            <h3>Push notifications</h3> <i class="fa fa-bell"></i>
            <p class="r3 px-md-5 px-sm-1">Recieve push notifications to be updated to latest news.</p>
            <div class="text-center mb-3"> <button class="btn btn-primary w-50 rounded-pill b1">Subscribe</button> </div> <a href="#">Not now</a>
        </div>
    </div>
</div>
</div>

<script>
$(window).on('load', function(){
    setTimeout(function(){
        $('#mymodal').modal('show')
    }, 3000);
});
</script>

<div id="screen"></div>
<div id="modal">  
    <button id="modal-close1">x</button>
    <p>Thank you for your question.</p>
</div>



<div>
<h1 id="h1-first">Web-Applications, Wordpress or Shopify?</h1>

</div>
<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>WEB-APP <br> 
DEVELOPMENT</h1>
          <p>Web-Application Development</p>
        </div>
        <a href="/path/web_application/page", remote: true>PRESS HERE</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div id="fix" class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>WEBSITE AND<br> 
E-COMMERCE</h1>
          <p>CMS Development</p>
        </div>
        <a href="/path/web_development/page", remote: true>PRESS HERE</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
  </div>
</div>






<h2 id="h2-3_0">Our fast and relaxed service</h2>
<div class="row" id="explanrow">
<div class="col" id="colimg">
<div class="coffee">
<img class="grabcoffee" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1622468451/Coffee_perspective_matte_elaula.png"/>
<p class="explanation1">Coffe and talk</p>
</div>
</div>

<div class="col" id="colimg">
<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
</div>

<div class="col" id="colimg">
<div class="code">
<img class="grabcoffee" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1622468453/Code_perspective_matte_lpmfjm.png"/>
<p class="explanation2">We build your Website</p>
</div>
</div>

<div class="col" id="colimg">
<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
</div>

<div class="col" id="colimg">
<div class="result">
<img class="grabcoffee" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1622468461/Dashboard_perspective_matte_lq6ima.png"/>
<p class="explanation3">Get your product</p>
</div>
</div>

</div>

<h2 id="h2-3_99">Meet Josh our best programmer!</h2>
<div class="mannounderwear">
<img class="manunderwearno" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1622488733/Saly-11_zqhhby.png"/>
</div>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>




