<div class="banner landing" id="banner-landing"
  style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1 class="h1-banner"><img class="h1-banner"src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601228575/8CF832A5-CA57-4554-B1FF-96D24DEBEE12_a1bn0h.png"></h1>
      <p class="young">Young. Dynamic. Effectif.</p>
    </div>
    <div class="banner-container-right">
        <img id="iphone" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1599334035/18EF16D5-9A40-4419-897F-FDCE0A9FB2F0_iphonexspacegrey_portrait_gzlowf.png"/>
      <img id="laptop"
        src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png"/>
    </div>
  </div>
</div>


<div>
<h1 id="h1-first">What do you need?</h1>
</div>
<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>WEB-APP <br> 
DEVELOPMENT</h1>
          <p>Visual communication and problem-solving</p>
        </div>
        <a href="/path/web_app/page">more</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>WEBSITE AND<br> 
E-COMMERCE</h1>
          <p>How design is implemented on the web.</p>
        </div>
        <a href="/path/web_development/page">more</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>SOCIAL MEDIA <br>
MANAGMENT</h1>
          <p>User Interface and User Experience Design.</p>
        </div>
        <a href="/path/social_media/page">more</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
    
  </div>
</div>



<div class="simple">
<p class="p-anima" data-text="PSYCHO">Shiv-Flex</p>
</div>


<h1 id="h1-second">How does it work?</h1>


<div class="big-container">
<div class="row">
<div class="container-icon">
  <div class="shivflex-pros">
<div class="col-lg-4">
    <img id="icons-fo" src="https://img.icons8.com/nolan/96/idea-sharing.png"/>    
    <h2 class="h2-5">Concept creation</h2>
    <p class="p-how">Our creativ team will create an <br>
individual concept of the work you asked us, <br>
based on your and our ideas.</p>
  </div>
</div>

<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
  


  <div class="shivflex-pros1">
  <div class="col-lg-4">
    <img id="icons-io" src="https://img.icons8.com/nolan/96/verified-account.png"/>    
    <h2 class="h2-extra">Verification</h2>
    <p class="p-extra">After created an individual concept, <br>
we will verifie our concept with you until <br>
we have the perfect concept</p>
  </div>
</div>

<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

  <div class="shivflex-pros">
  <div class="col-lg-4">
    <img id="icons-fo" src="https://img.icons8.com/nolan/96/open-in-browser.png"/>    
    <h2 class="h2-5">Final product</h2>
    <p class="p-how">After finishing the concept we get our hands dirty <br>
and start creating your product. The finished <br>
product will be presented to you and every <br>
default will be removed</p>
    </div>
  </div>
</div>




<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>
