<div class="banner landing" id="banner-landing"
  style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1 class="h1-banner"><img class="h1-banner"src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601228575/8CF832A5-CA57-4554-B1FF-96D24DEBEE12_a1bn0h.png" alt="Social Media Management Agency"></h1>
      <p class="young">Young. Dynamic. Effective.</p>

    </div>
    <div class="banner-container-right">
        <img id="iphone" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1599334035/18EF16D5-9A40-4419-897F-FDCE0A9FB2F0_iphonexspacegrey_portrait_gzlowf.png" alt="Social media Management"/>
      <img id="laptop"
        src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png" alt="Web Application Development"/>
    </div>
  </div>
</div>


<div>
<h1 id="h1-first">Web-Applications, CMS or Social Media Management?</h1>
<h2 id="h2-2_0">GROW your Bunsiness with:</h2>

</div>
<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>WEB-APP <br> 
DEVELOPMENT</h1>
          <p>Web-Application Development</p>
        </div>
        <a href="/path/web_application/page", remote: true>PRESS HERE</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div id="fix" class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>WEBSITE AND<br> 
E-COMMERCE</h1>
          <p>CMS Development</p>
        </div>
        <a href="/path/web_development/page", remote: true>PRESS HERE</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>SOCIAL MEDIA <br>
MANAGMENT</h1>
          <p>Social Media Content Management & Marketing</p>
        </div>
        <a href="/path/social-media/page", remote: true>PRESS HERE</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
    
  </div>
</div>



<div class="simple">
<p class="p-anima" data-text="PSYCHO">Shiv-Flex</p>
</div>



<h2 id="h2-3_0">How we work for Web-Development or Social Media Management</h2>

<div class="big-container">
<div class="row_info">
<div class="container-icon">
  <div class="shivflex-pros">
<div class="col-lg-4 fast">
    <img id="icons-fo" src="https://img.icons8.com/nolan/96/idea-sharing.png" alt="Concept-Icon"/>    
    <h2 class="h2-5">Concept creation</h2>
    <div class="card4">
      <div class="card-body">
      <p class="card-text">In every case our creative team creates certain concepts for our client`s project, based on the information we receive during their free meeting.</p>
      </div>
    </div>
  </div>
</div>

<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
  


  <div class="shivflex-pros1">
  <div class="col-lg-4">
    <img id="icons-io" src="https://img.icons8.com/nolan/96/verified-account.png" alt="Verification-Icon"/>    
    <h2 class="h2-extra">Verification</h2>
    <div class="card5">
      <div class="card-body">
        <p class="card-text">The verification of the created concept is the second step of our service. Before we can start working we have to get the concept verification of the client.</p>
      </div>
    </div>
  </div>
</div>


<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

  <div class="shivflex-pros">
  <div class="col-lg-4">
    <img id="icons-fo" src="https://img.icons8.com/nolan/96/open-in-browser.png" alt="Product-Icon"/>    
    <h2 class="h2-5">Final product</h2>
    <div class="card4">
      <div class="card-body">
      <p class="card-text">After finishing the concept we get our hands dirty and start creating the product. The finished product will be presented to the client before launching it.</p></p>
        </div>
      </div>
    </div>
  </div>
</div>





<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>

    <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/">Home</a></h2> <br>
                                    <h2 class="modal-lo"><a class="mod" href="/path/corona-package/page">Corona-Pack</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page">About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page">Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page">Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page"><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>