<div class="banner landing"
  style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1>Shiv-Flex<i class="fas fa-code"></i></h1>
      <p>Young. Dynamic. Effectif.</p>
    </div>
    <div class="banner-container-right">
        <img src="

https://res.cloudinary.com/dn6wh4u2h/image/upload/v1599334035/18EF16D5-9A40-4419-897F-FDCE0A9FB2F0_iphonexspacegrey_portrait_gzlowf.png", style=" height: 325px;
    width: 325px;">
      <img id="mbp"
        src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png", style=" height: 500px;
    width: 500px;">
    </div>
  </div>
</div>



<h1 id="h1-first">What do you need?</h1>
<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>WEB-APP <br> 
DEVELOPMENT</h1>
          <p>Visual communication and problem-solving</p>
        </div>
        <a href="#">more</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>WEBSITE AND<br> 
E-COMMERCE</h1>
          <p>How design is implemented on the web.</p>
        </div>
        <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>SOCIAL MEDIA <br>
MANAGMENT</h1>
          <p>User Interface and User Experience Design.</p>
        </div>
        <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
    
  </div>
</div>


<h1 id="h1-second">How does the it work?</h1>

<div class="container-icon">
  <div class="welance-pros">
    <i id="icons" class="fas fa-file-contract fa-5x"></i>
    <h2 class="h2-5">Certified Developers</h2>
  </div>

<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
   <span></span>
</div>
  


  <div class="welance-pros">
    <i id="icons" class="fas fa-shield-alt fa-5x"></i>
    <h2 class="h2-2">Secure hiring process</h2>
  </div>

<div class="indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
   <span></span>
</div>

  <div class="welance-pros">
    <i id="icons" class="fas fa-link fa-5x"></i>
    <h2 class="h2-3">Connected</h2>
  </div>
</div>

<div class="container-icon">
  <div class="welance-pros">
    <i id="icons" class="fas fa-file-contract fa-5x"></i>
    <h2 class="h2-5">Certified Developers</h2>
  </div>

<div class="second-indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
   <span></span>
</div>
  


  <div class="welance-pros">
    <i id="icons" class="fas fa-shield-alt fa-5x"></i>
    <h2 class="h2-2">Secure hiring process</h2>
  </div>

<div class="second-indicator">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
   <span></span>
</div>

  <div class="welance-pros">
    <i id="icons" class="fas fa-link fa-5x"></i>
    <h2 class="h2-3">Connected</h2>
  </div>
</div>

<h1 id="h1-three">Wanna see some testimonials?</h1>

<div id="testbutton"></div>