<h1 id="h1-price">Pricing of your Business Digitalisation</h1>

<div class="price">
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="cardprice text-center">
            <div class="title">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              <h2>Basic</h2>
            </div>
            <div class="price">
              <h4><sup>€</sup>100p/m</h4>
            </div>
            <div class="option">
              <ul>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Instagram </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Facebook </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Photos </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> 3 Posts per Week </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> 6+ Stories per Week</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> QR Code </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> AD Campaigne </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Representation</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> Professionel Website/Shop </li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> Professionel Ad Video</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> Influencer Marketing</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> # Generetor</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> More..</li>
            


              </ul>
            </div>
            
          </div>
        </div>
        <!-- END Col one -->
        <div class="col-sm-4">
          <div class="cardprice text-center">
            <div class="title">
              <i class="fa fa-plane" aria-hidden="true"></i>
              <h2>Standard</h2>
            </div>
            <div class="price">
              <h4><sup>€</sup>225p/m</h4>
            </div>
            <div class="option">
              <ul>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Instagram </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Facebook </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Photos </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> 3 Posts per Week </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> 6+ Stories per Week</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> QR Code </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> AD Campaigne </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Representation</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Website/Shop </li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> Professionel Ad Video</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> Influencer Marketing</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> # Generetor</li>
            <li> <i class="fa fa-times" aria-hidden="true"></i> More..</li>
              </ul>
            </div>
            
          </div>
        </div>
        <!-- END Col two -->
        <div class="col-sm-4">
          <div class="cardprice text-center">
            <div class="title">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              <h2>Premium</h2>
            </div>
            <div class="price">
              <h4><sup>°</sup>Contact</h4>
            </div>
            <div class="option">
              <ul>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Facebook </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Photos </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> 3 Posts per Week </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> 6+ Stories per Week</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> QR Code </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> AD Campaigne </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Representation</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Website/Shop </li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Professionel Ad Video</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> Influencer Marketing</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> # Generetor</li>
            <li> <i class="fa fa-check" aria-hidden="true"></i> More..</li>
              </ul>
            </div>
            
          </div>
        </div>
        <!-- END Col three -->
      </div>
    </div>
  </div>
</section>
</div>


<h1 id="h1-dollar">Want to know more? Contact us!</h1>
<div class="pricebut">
<a href="/path/contact/page"><button class="learn-more">Click me</button></a>
</div>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/">Home</a></h2> <br>
                                    <h2 class="modal-lo"><a class="mod" href="/path/corona-package/page">Digital</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page">About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page">Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page">Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page"><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>