<div class="flex-container">
  <div class="flex-item"><img class="socialmedia" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600932422/6590558241561032669-128_riwli7.png" alt="Social Media Management"/></div>
  <div class="flex-item"><img class="socialmedia" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600932431/18717222811579774613-128_dlxzvh.png" alt="Social Media Marketing"></div>
</div>

<h1 id="h1-seven">You are interested in our Social Media Management / Marketing?</h1>
<h2 id="h2-nine">Let`s explain you what this is about!</h2>



<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro12"src="https://img.icons8.com/nolan/96/photo-editor.png" alt="Huge Reach"/>    
                    <h3 id="abto">Huge Reach</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">We use our knowledge about Social Media platforms like Instagram and Facebook to help businesses to use the huge Marketing platforms in their advantage.</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro4" src="https://img.icons8.com/nolan/96/web-design.png" alt="Representation"/>    
                    <h3 id="abto">Qualitatif Representation</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">Our service includes professional photographers, usage of drones, filmmakers and Designers to insure a high quality content and a individual represenattion of our client`s</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro13" src="https://img.icons8.com/nolan/96/love-message.png" alt="Client-Icon"/>                    
                    <h3 id="abto">Ads</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">A lot of businesses ask us to take care of their ad campagnes, because most companies think it is a very easy task and they lose a lot of money. We create professional "ad campagnes".</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        


  <h1 id="h1-nine">Ok nice, now we will explain you our Social Media Management</h1>


 <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Meeting</h3>
                                <p class="description">
                                The Social media Management includes that our creative Team needs a lot of informations about the client`s business to understand their company style, their structure and their ideas. Our social media Tools will be optimized with those information, and will imrove our marketing service.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Individual Concept creation</h3>
                                <p class="description">
                                Based on this information we create an individual concept for their Social Media and their "ad campagnes", to create professional and individual company related content.The benefits of this Social Media content management is that we can improve our marketing strategies and the general onlie represenation of our clients.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Concept verification</h3>
                                <p class="description">
                                The concept created for their Social Media accounts has to be verificated by the client, before we start implementing it. We post regularly and when the client wants any changes we recreate the concept our Social media Management. 
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Concept implementation</h3>
                                <p class="description">
                                The result of the Social media Management can only be very impressiv by a long term relationship between us and our custoimers. We play with the "Algorithm" and analyse which plans work, we post up to 4 times a week and implement "ad campagnes" to achieve only best results. 
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
     </div>
        
        <h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page", remote: true><button class="learn-more">Click me</button></a>
</div>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>



 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/", remote: true>Home</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page", remote: true>About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page", remote: true>Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page", remote: true>Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page", remote: true><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>