<div class="flex-container">
  <div class="flex-item"><img class="socialmedia" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600932422/6590558241561032669-128_riwli7.png"/></div>
  <div class="flex-item"><img class="socialmedia" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600932431/18717222811579774613-128_dlxzvh.png"></div>
</div>

<h1 id="h1-seven">You are interested in our Social Media Management?</h1>
<h2 id="h2-nine">Let`s explain you what this is about!</h2>




<div class="container-shivflex">
<div class="row">

<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/photo-editor.png"/>    
    <h2 class="h2-5">Huge Reach</h2>
    <p class="p-how">Our creativ team will create an <br>
individual concept of the work you asked us, <br>
based on your and our ideas.</p>
  </div>
</div>




<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/web-design.png"/>    
    <h2 class="h2-5">Qualitatif Representation</h2>
    <p class="p-how">Our creativ team will create an <br>
individual concept of the work you asked us, <br>
based on your and our ideas.</p>
  </div>
</div>



<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/64/outline.png"/>    
    <h2 class="h2-5">Popularity</h2>
    <p class="p-how">Our creativ team will create an <br>
individual concept of the work you asked us, <br>
based on your and our ideas.</p>
      </div>
    </div>
  </div>
</div>


  <h1 id="h1-nine">Ok nice, now we will explain you our service</h1>


 <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Meeting</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Individual Concept creation</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Concept verification</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">New product</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
     </div>
        
        <h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page"><button class="learn-more">Click me</button></a>
</div>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>



