<h1 id="h1-bene">Why do you need </br>
Web-Development?</h1>

<h2 id="h1-eight">Social Media Management / Marketing</h2>



<h2 id="h1-eight">Web-App Development</h2>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro14" src="https://img.icons8.com/nolan/96/client-company.png" alt="Experience-Icon"/>    
                    <h3 id="abto">For Startups</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>Our goal is to create an outstanding customer experience for every customer we work with. We hope to realize their ideas and realize the required logic and style. Each completed step is sent to our customers to visualize our improvements</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro6" src="https://img.icons8.com/nolan/96/design.png" alt="Dynamic-Icon"/>    
                    <h3 id="abto">Dynamic and Individual</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>Each web application we create is individually customized for each customer. We want to generate powerful, modern and high-performance Web applications so that each business has a unique representative on the Internet and can improve its sales and engagement.</p>                   
                   </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro100" src="https://img.icons8.com/nolan/96/client-company.png" alt="Experience-Icon"/>    
                    <h3 id="abto">Clients</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>Our goal is to create an outstanding customer experience for every customer we work with. We hope to realize their ideas and realize the required logic and style.</p>                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/web_application/page", remote: true><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>

<h2 id="h1-eight">CMS Development</h2>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro8" src="https://img.icons8.com/nolan/96/low-price.png" alt="Low-Icon"/>    
                    <h3 id="abto">Low Budget</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>CMS development is a simpler way of Website creation. It is not as complex as Web-Applications, but still very strong, performant and mostly used for smaller businesses. There are 3 main management systems we work with, Shopify, Wordpress and WooCommerce.</p>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro2" src="https://img.icons8.com/nolan/96/report-card.png" alt="Performant-Icon"/>    
                    <h3 id="abto">Performant</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">For every business a performent Website is very important, because it is like a first representation of their business. Especially for Shops with delivery systems or ordinary shops, a performant and clean user journey can improve sales and income in many ways.</p>                   
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro7" src="https://img.icons8.com/nolan/96/mobile-order.png" alt="Shops-Icon"/>      
                    <h3 id="abto">Great for Shops</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">For most businesses shops are the more interesting topic. We use Shopify or the Wordpress plugin called WooCommerce. Both CMS are very strong, but the SEO implementation is much better on shopify. Usage, templates and functionality are the same.</p>                    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/web_development/page"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>

<h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page"><button class="learn-more">Click me</button></a>
</div>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/">Home</a></h2> <br>
                                    <h2 class="modal-lo"><a class="mod" href="/path/corona-package/page">Digital</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page">About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page">Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page">Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page"><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>