<h1 id="h1-bene">Why do you need Web-Development or Social media Management?</h1>

<h2 id="h1-eight">Social Media Management / Marketing</h2>


<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img  #id="pro10" src="https://img.icons8.com/nolan/96/bullish.png" alt="Reach-Icon"/>                      
                    <h3 id="abto">Huge Reach</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                  <p>These days Social Media plattforms like Instagram or Facebook are insane marketing platforms, but most businesses don`t really know how to use this power to gain more clients. That`why we started the Social Media management task, we help businesses with our knowledge to attract more people to their accounts with and WITHOUT Ads.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro1" src="https://img.icons8.com/nolan/96/conference-call.png" alt="Popularity-Icon"/>                        
                    <h3 id="abto">Qualitatif Representation</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                  <p>To gett attraction from users on Instagram, important. Social Media is a very important representation for any kind of business, because these days people look at restaurants and hotels Social Media accounts after googling the business. A professional and elegant Social Media representation is very important and can attract more clients, espescially young clients.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro9" src="https://img.icons8.com/nolan/96/love-message.png" alt="Client-Icon"/>                    
                    <h3 id="abto">Clients</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                  <p>Included in our Social Media Management is a form of marketing called "Influencer Marketing". We invite Influencer to come to your business and we do a photo shooting or create a professional video. This posts we create are shared by the influencer and can attract their fans to to your Social Media account. This is a very interesting form of marketing, because a lot of people can be attracted with this methode and the popularity of the business represented can improve insanely.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/social-media/page", remote: true><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>


<h2 id="h1-eight">Web-App Development</h2>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro7" src="https://img.icons8.com/nolan/96/client-company.png" alt="Experience-Icon"/>    
                    <h3 id="abto">For Startups</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>Our target is to create an amazing costumer experience for every client we have, that means we want to insure that the created Application satisfies the our clients and is the perfect representation of their business. We want to realise their ideas and implement the logic and style needed, thats why we work very close with our clients and send them all improvements we do.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro6" src="https://img.icons8.com/nolan/96/design.png" alt="Dynamic-Icon"/>    
                    <h3 id="abto">Dynamic and Individual</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>Every Web-App we create is individually costumized for every client. We want to generate strong, modern and very performant Web-Apps, so that every business has a unique representation on the Internet and can improve their sales and engagements.</p>                   
                   </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/nolan/96/client-company.png" alt="Experience-Icon"/>    
                    <h3 id="abto">Clients</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>Our target is to create an amazing costumer experience for every client we have, that means we want to insure that the created Application satisfies the our clients and is the perfect representation of their business. We want to realise their ideas and implement the logic and style needed, thats why we work very close with our clients and send them all improvements we do.</p>                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/web_application/page", remote: true><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>

<h2 id="h1-eight">CMS Development</h2>

<div class="about-cont">
    <div class="row">
        <div class="card">
        <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro8" src="https://img.icons8.com/nolan/96/low-price.png" alt="Low-Icon"/>    
                    <h3 id="abto">Low Budget</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                <p>CMS development is a simpler creation of Websites. It is not as complex as Web-Applications, but still very strong and performant. There are 3 main management systems we work with, Shopify. Wordpress and WooCommerce. With our development knowledge we can implement some code in those CMS Websites and can reate beautiful and performant Websites and shops for less money.</p>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro2" src="https://img.icons8.com/nolan/96/report-card.png" alt="Performant-Icon"/>    
                    <h3 id="abto">Performant</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">For every business a performent Website is very important, because it is like a first representation of their business. Espescially for Shops with delivery sytems or ordinary shops, a performant and clean user journy can improve sales and income in many ways. So even if Web-Applications are very performent, CMS Websites are also very strong and enough for smaller businesses with a lower budget.</p>                   
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4">
            <div class="face face1">
                <div class="content">
                    <img id="pro7" src="https://img.icons8.com/nolan/96/mobile-order.png" alt="Shops-Icon"/>      
                    <h3 id="abto">Great for Shops</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">For most businesses shops are the more interesting topic. We use Shopify or the Wordpress plugin called WooCommerce. Both CMS are very strong, but the SEO implementation is much better on shopify. Usage, templates and functionality are the same. For every business we can implement online stores or delivery systems with individual styles and a unique represenatation of our client`s business.</p>                    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/web_development/page"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>

<h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page"><button class="learn-more">Click me</button></a>
</div>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/">Home</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page">About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page">Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page">Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page"><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>