<h1 id="h1-bene">Why do you need Web-Development or Social media Management?</h1>

<h2 id="h1-eight">Social Media Management / Marketing</h2>


<div class="container-icon2">
<div class="row">

<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/bullish.png" alt="Reach-Icon"/>    
    <h2 class="h2-5">Huge Reach</h2>
    <p class="p-how">These days Social Media plattforms <br>
like Instagram or Facebook are insane <br>
marketing platforms, but most businesses <br>
don`t really know how to use this power <br>
to gain more clients. That`why we started <br>
the Social Media management task, we help <br>
businesses with our knowledge to attract more <br>
people to their accounts with <br>
and WITHOUT Ads.</p>
  </div>
</div>




<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/google-images.png" alt="Representation-Icon"/>    
    <h2 class="h2-5">Qualitatif Representation</h2>
    <p class="p-how">To gett attraction from users on Instagram, <br>
high quality pictures and videos are very <br>
important. Social Media is a very important <br>
representation for any kind of business, <br>
because these days people look at restaurants <br>
and hotels Social Media accounts after googling <br>
the business. A professional and elegant Social <br>
Media representation is very important and can <br>
attract more clients, espescially young clients.</p>
  </div>
</div>





<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/conference-call.png" alt="Popularity-Icon"/>    
    <h2 class="h2-5">Popularity</h2>
    <p class="p-how">Included in our Social Media Management is a <br>
form of marketing called "Influencer Marketing". <br>
We invite Influencer to come to your business <br>
and we do a photo shooting or create a <br>
professional video. This posts we create are <br>
shared by the influencer and can attract <br>
their fans to to your Social Media account. <br>
This is a very interesting form of marketing, <br>
because a lot of people can be attracted <br>
with this methode and the popularity of the <br>
business represented can improve insanely.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/social-media/page"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>


<h2 id="h1-eight">Web-App Development</h2>

<div class="container-icon2">
<div class="row">

<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/add-contact-to-company.png" alt="Startups-Icon"/>
    <h2 class="h2-5">For Startups</h2>
    <p class="p-how">Web Applications are very used in terms of <br>
starting a business. The good thing about a <br>
Web-App is that you can reach a lot of people <br>
with the help of SEO and Google ads. The difference <br>
to a CMS website is that a Web-App can have a very <br>
impressiv logic and you can create all plattform <br>
 you want from a weather app to a sharing system <br>
 and much more.</p>
  </div>
</div>




<div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/design.png" alt="Dynamic-Icon"/>    
    <h2 class="h2-5">Dynamic and Individual</h2>
    <p class="p-how">Every Web-App we create is individually <br>
costumized for every client. We want to generate <br>
strong, modern and very performant Web-Apps, <br>
so that every business has a unique <br>
representation on the Internet and can <br>
improve their sales and engagements.</p>
  </div>
</div>



  <div class="welance-pros">
  <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/client-company.png" alt="Experience-Icon"/>    
    <h2 class="h2-5">Customer Experience</h2>
    <p class="p-how">Our target is to create an amazing costumer <br>
experience for every client we have, that <br>
means we want to insure that the created <br>
Application satisfies the our clients and <br>
is the perfect representation of their <br>
business. We want to realise their <br>
ideas and implement the logic and style <br>
needed, thats why we work very close <br>
with our clients and send them all <br>
improvements we do.</p>
  </div>
</div>
</div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/web_application/page"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>

<h2 id="h1-eight">CMS Development</h2>

<div class="container-icon2">
<div class="row">

  <div class="welance-pros">
   <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/low-price.png" alt="Low-Icon"/>    
    <h2 class="h2-5">Low Budget</h2>
    <p class="p-how">CMS development is a simpler creation of Websites. <br>
It is not as complex as Web-Applications, but <br>
still very strong and performant. There are <br>
3 main management systems we work with, <br>
Shopify. Wordpress and WooCommerce. With <br>
our development knowledge we can implement <br>
some code in those CMS Websites and can <br>
reate beautiful and performant Websites <br>
and shops for less money.</p>
  </div>
</div>



  <div class="welance-pros">
   <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/report-card.png" alt="Performant-Icon"/>    
    <h2 class="h2-5">Performant</h2>
    <p class="p-how">For every business a performent Website is very <br>
important, because it is like a first <br>
representation of their business. Espescially <br>
for Shops with delivery sytems or ordinary <br>
shops, a performant and clean user journy <br>
can improve sales and income in many ways. <br>
So even if Web-Applications are very <br>
performent, CMS Websites are also very strong <br>
and enough for smaller businesses with <br>
a lower budget.</p>
  </div>
</div>



  <div class="welance-pros">
   <div class="col-lg-4">
    <img id="icons" src="https://img.icons8.com/nolan/96/mobile-order.png" alt="Shops-Icon"/>      
    <h2 class="h2-5">Great for Shops</h2>
    <p class="p-how">For most businesses shops are the more <br>
interesting topic. We use Shopify or the <br>
Wordpress plugin called WooCommerce. <br>
Both CMS are very strong, but the SEO <br>
implementation is much better on shopify. <br>
Usage, templates and functionality are the <br>
same. For every business we can implement <br>
online stores or delivery systems <br>
with individual styles and a unique <br>
represenatation of our client`s business.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="/path/web_development/page"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Service</button></a>
        </div>
    </div>
</div>

<h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page"><button class="learn-more">Click me</button></a>
</div>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/">Home</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page">About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page">Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page">Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page"><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>