<h1 id="h1-testi">Our Work, for our amazing clients</h1>

<h2 id="h1-eight">Web-Development</h2>


<h3 id="h1-eight">Outlabeled</h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img class="testimon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601367431/smartmockups_kfnondhq_lorlne.png" alt="CMS Development">
        </div>
    </div>
</div>


<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://outlabeled-shop.com", remote: true><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>


<h3 id="h1-eight">Green Impact (Newspaper)</h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img class="testimon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601367480/smartmockups_kfnopwbl_lrqmhx.png" alt="Newspaper">
        </div>
    </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://green-impact-news.com", remote: true><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>

<h3 id="h1-eight">Green Impact (Shop)</h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img class="testimon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1603121717/smartmockups_kfnoqh36_fouacx.png" alt="Shop">
        </div>
    </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://green-impact.shop", remote: true><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>


<h2 id="h1-eight">Social Media Management</h2>

<h3 id="h1-eight">Green Impact </h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img id="testi-media" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601226385/BEA8F9B9-F964-47CB-963B-DAFC055ED45A_ejrskh.png" alt="Media">
        </div>
    </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://www.instagram.com/green_impact_/", remote: true><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>



<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/", remote: true>Home</a></h2> <br>
                                    <h2 class="modal-lo"><a class="mod" href="/path/corona-package/page">Digital</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page", remote: true>About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page", remote: true>Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page", remote: true>Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page", remote: true><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>