<h1 id="h1-testi">Our Work, for our beautiful clients</h1>

<h2 id="h1-eight">Web-Development</h2>


<h3 id="h1-eight">Outlabeled</h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img class="testimon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601367431/smartmockups_kfnondhq_lorlne.png" alt="CMS Development">
        </div>
    </div>
</div>


<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://outlabeled-shop.com"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>


<h3 id="h1-eight">Green Impact (Newspaper)</h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img class="testimon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601367480/smartmockups_kfnopwbl_lrqmhx.png" alt="Newspaper">
        </div>
    </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://green-impact-news.com"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>

<h3 id="h1-eight">Green Impact (Shop)</h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img class="testimon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601367534/smartmockups_kfnoqh36_ryvm1w.png" alt="Shop">
        </div>
    </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://green-impact.shop"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>


<h2 id="h1-eight">Social Media Management</h2>

<h3 id="h1-eight">Green Impact </h3>
<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <img id="testi-media" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1601226385/BEA8F9B9-F964-47CB-963B-DAFC055ED45A_ejrskh.png" alt="Media">
        </div>
    </div>
</div>

<div class="container-icon2">
    <div class="row">
        <div class="col-lg-12">
            <a href="https://www.instagram.com/green_impact_/"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Watch it</button></a>
        </div>
    </div>
</div>



<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>
