<div class="flex-container">
  <div class="flex-item"><img class="css" src="https://img.icons8.com/color/144/000000/css3.png"/></div>
  <div class="flex-item"><img class="js" src="https://img.icons8.com/color/144/000000/java-coffee-cup-logo.png"/></div>
    <div class="flex-item"><img class="ruby" src="https://img.icons8.com/color/144/000000/ruby-programming-language.png"/></div>
  <div class="flex-item"><img class="html" src="https://img.icons8.com/color/144/000000/html-5.png"/></div>
</div>

<h1 id="h1-six">Ok, so you are interested in a professional Web-App?</h1>
<h2 id="h1-eight">Don`t know what a Ruby on Rails Web-App is?</h2>

<section class="app">
  <details open>
    <summary>What is a Ruby on Rails Web-App?</summary>
    <div>
      <p class="web">Rails is a web application development framework written in a programming language called Ruby. It allows you to write less code while accomplishing more than many other languages and frameworks. The Ruby on Rails framework includes Js, Ruby, Scss and Html. Rails is used by companies like Github, Fiver, Bloomberg or Airbnb.</p>
    </div>
  </details>
  </section>
  <section class="app">
  <details open>
    <summary>What is the difference to a normal Website?</summary>
    <div>
      <p class="web">The difference of an Web-App and a Website is that a Website is only build with Html and Css, that means that the user can`t interact with the Website. A Web-App is built with Html, Css, Js and Ruby (in Rails), that means that the user has the possibility to interact with the different Web-Pages (booking, chatting,..).</p>
    </div>
  </details>
  </section>
  <section class="app">
  <details open>
    <summary>Who needs a Web-App</summary>
    <div>
      <p class="web">Web-Apps are often used for start-ups, because you can reach more people (SEO, Google Ads,..) than on the App Store and it is much cheaper an easier than a ordinary App. But they can also be used for simple restaurants, bars or hotels. It really depends on how complex the Website should be and what features it should have, because for simple deliver systems we would recomment CMS Websites, because they are much cheaper than web-Apps, but they have their limitations. When you are not very sure about what you need, just contact us!</p>
    </div>
  </details>
  </section>

  <h1 id="h1-seven">Ok nice, now we will explain you our service</h1>


 <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Meeting</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Individual Concept creation</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Concept verification</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">New product</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
     </div>
        
        <h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page"><button class="learn-more">Click me</button></a>
</div>


<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


