<div class="flex-container">
  <div class="flex-item"><i id="css" class="fab fa-css3-alt icon-4x"></i></div>
  <div class="flex-item"><i id="js" class="fab fa-js-square icon-4x"></i></div>
  <div class="flex-item"><i id="html" class="fab fa-html5 icon-4x"></i></div>
</div>

<h1 id="h1-six">Ok, so you are interested in a professional Web-App?</h1>
<h2 id="h1-eight">Don`t know what a Rails App is?</h2>

<section class="app">
  <details open>
    <summary>What is a Rails Web-App?</summary>
    <div>
      <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600771603/8685172671530103322-128_hkvhny.png" />
      <p class="web">The Swiss psychologist and psychiatrist Carl Jung was one of the major forces responsible for bringing psychological (having to do with the mind and its processes) thought and its theories into the twentieth century.</p>
    </div>
  </details>
  </section>
  <section class="app">
  <details open>
    <summary>What is the difference to a normal Website?</summary>
    <div>
      <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600771603/8685172671530103322-128_hkvhny.png" />
      <p class="web">The Swiss psychologist and psychiatrist Carl Jung was one of the major forces responsible for bringing psychological (having to do with the mind and its processes) thought and its theories into the twentieth century.</p>
    </div>
  </details>
  </section>

  <h1 id="h1-seven">Ok nice, now we will explain u our service</h1>


 <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Meeting</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Individual Concept creation</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Concept verification</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">New product</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
     </div>
        
        <h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<button class="learn-more">Click me</button>
</div>