
<div class="flex-container">
  <div class="flex-item"><img class="locorino" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600771603/8685172671530103322-128_hkvhny.png" alt="CMS development"/></div>
  <div class="flex-item"><img class="locorino" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600771610/20386679731530103329-128_xhnajy.png" alt="Content Management System"></div>
  <div class="flex-item"><img class="locorino" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600771606/20802413771553750226-128_wp2fel.png" alt="Development"/></div>
</div>

<h1 id="h1-six">Ok, so you are interested in a CMS Website or E-commerce?</h1>
<h2 id="h1-eight">Don`t know those sites yet?</h2>

<section class="shopify">
  <details open>
    <summary>What is Shopify?</summary>
    <div>
      <p class="web">
      Shopify is a CMS (Content Management System), and is espacially used for the creation of online stores. With a wide knowledge how Shopify works, good developers can create amazing Websites or Stores for every kind of business having a lower budget.
      </p>
    </div>
  </details>
  </section>
  <section class="wordpress">
  <details>
    <summary>What is Wordpress?</summary>
    <div>
      <p class="web">
      Wordpress is also a CMS (Content Management System), and is used for the creation of static websites. This Management System is often used for the general representation of any type of business. With the write knowledge trained developers can inject their code and create amazing Websites with uniqu styles for business with a lower budget for their website.
      </p>
    </div>
  </details>
  </section>
  <section class="woocommerce">
  <details>
    <summary>What is Woocommerce?</summary>
    <div>
      <p class="web">
      WooCommerce is a very strong plugin for Wordpress, and allows it to create a Website with an integrated shop. Especially it is a website with an integrated shop taht is as strong as Shopify. (only difference is that Shopify has a better SEO implementation) 
      </p>
    </div>
  </details>
</section>

<h1 id="h1-seven">Ok nice, now we will explain you our service</h1>


 <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Meeting</h3>
                                <p class="description">
                              First things first. We attach a huge importance on the perfect design for our clients CMS Website, with the needed logic. That`s why we start every job with a free meeting. We want to know and understand exactly what logic and style le client wants for his Web-App. We integrate all the ideas and propositions in the concept we create to get the best possible result.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Individual Concept creation</h3>
                                <p class="description">
                              The second step of our creation of an individual CMS Website is the concept creation based on the client`s ideas and propositions. The concept is created with our professional design tools. The finished Concept of the Web-App is shown to our client and we implement all their corrections and optimizations before moving to the main production. These concepts are designed by our CMS developers, who also work on the cms costumization.

                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Production</h3>
                                <p class="description">
                                The next, and most important step of our CMS development service is to get into the production. We have a greate Team of people that have done a very prectigious cours called "Le Wagon", and we are very trained to work together on great Web Applications and this knowledge is also implemented in the CMS developement. During the production we infrom our Clients of our work and the progress.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Finished product</h3>
                                <p class="description">
                                The finished CMS system is firstly presented to our clients, before going live. After finishing the project, we offer our clients a subscription to run their website, to fix bugs and to make some changes our clients ask us for.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
     </div>
        
        <h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page", remote: true><button class="learn-more">Click me</button></a>
</div>


<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>



 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/", remote: true>Home</a></h2> <br>
                                  <h2 class="modal-lo"><a class="mod" href="/path/corona-package/page">Corona-Pack</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page", remote: true>About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page", remote: true>Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page", remote: true>Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page", remote: true><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>