<div class="flex-container">
  <div class="flex-item"><img class="css" src="https://img.icons8.com/color/144/000000/css3.png" alt="Web Application Development"/></div>
  <div class="flex-item"><img class="js" src="https://img.icons8.com/color/144/000000/java-coffee-cup-logo.png" alt="Application"/></div>
    <div class="flex-item"><img class="ruby" src="https://img.icons8.com/color/144/000000/ruby-programming-language.png" alt="Development"/></div>
  <div class="flex-item"><img class="html" src="https://img.icons8.com/color/144/000000/html-5.png" alt="Web-App"/></div>
</div>

<h1 id="h1-six">Ok, so you are interested in a professional Web-Application?</h1>
<h2 id="h1-eight">Don`t know what a Ruby on Rails Web-App is?</h2>

<section class="app">
  <details open>
    <summary>What is a Ruby on Rails Web-App?</summary>
    <div>
      <p class="web">Rails is a web application development framework written in a programming language called Ruby. It allows you to write less code while accomplishing more than many other languages and frameworks. The Ruby on Rails framework includes Js, Ruby, Scss and Html and is infact a development based application that enables an easy web-app development. Rails is used by companies like Github, Fiverr, Bloomberg or Airbnb.<a href="https://github.com/"><button id="testi-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Github</button></a>
      <a href="https://www.airbnb.com/", remote: true><button id="testi-btn1" class="btn btn-outline-success my-2 my-sm-0" type="submit">Airbnb</button></a>
      <a href="https://www.bloomberg.com/", remote: true><button id="testi-btn1" class="btn btn-outline-success my-2 my-sm-0" type="submit">Bloomberg</button></a>
      <a href="https://www.fiverr.com/", remote: true><button id="testi-btn1" class="btn btn-outline-success my-2 my-sm-0" type="submit">Fiverr</button></a>
</p>
    </div>
  </details>
  </section>
  <section class="app">
  <details open>
    <summary>What is the difference to a normal Website?</summary>
    <div>
      <p class="web">The difference of an Web-App and a Website is that a Website is only build with Html and Css, that means that the user can`t interact with the Website. A Web-App is built with Html, Css, Js and Ruby (in Rails), that means that the user has the possibility to interact with the different Web-Pages (booking, chatting,..). Another difference is that for CMS Websites we use different development tools than for the creation of an Web-Application.</p>
    </div>
  </details>
  </section>
  <section class="app">
  <details open>
    <summary>Who needs a Web-App?</summary>
    <div>
      <p class="web">Web-Apps are often used for start-ups, because you can reach more people (SEO, Google Ads,..) than on the App Store and it is much cheaper an easier than a ordinary App. But they can also be used for simple restaurants, bars or hotels. It really depends on how complex the Website should be (because a web-app has to be built from scratch and CMS Websites have templates developer can use) and what features should be included, because for simple deliver systems we would recomment CMS Websites, they are much cheaper than web-Apps, but they are limited in different ways. When you are not very sure about the product you need, feel free to contact us!</p>
    </div>
  </details>
  </section>

  <h1 id="h1-seven">Ok nice, now we will explain you our service</h1>


 <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Meeting</h3>
                                <p class="description">
                                First things first. Our Web-App development service attach a huge importance on the design for our clients Web-App, with the needed logic. That`s why we start every job with a free meeting. We want to know and understand exactly what logic and style le client wants for his Web-App. We integrate all the ideas and propositions in the concept we create to get the best possible result.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Individual Concept creation</h3>
                                <p class="description">
                                The second step to built a individual Web-App is the concept creation based on the client`s ideas and propositions. The concept is created with our professional design tools. The finished Concept of the Web-App is shown to our client and we implement all their corrections and optimizations before moving to the main production.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Production</h3>
                                <p class="description">
                                The next, and most important step is to get into the production. We have a greate Team of people that have done a very prectigious cours called "Le Wagon", and we are very trained to work together on great Web Applications. During the production we infrom our Clients of our work and the progress.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Finished Web-App</h3>
                                <p class="description">
                                The finished Web-App is firstly presented to our clients, before going live. After finishing the project, we offer our clients a subscription to run their website, to fix bugs and to make some changes our clients ask us for. Our Web-development projects are documented on github and can be changed whenever our clients want to.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
     </div>
        
        <h1 id="h1-seven">Want to know more? Contact us!</h1>
<div class="nicebut">
<a href="/path/contact/page", remote: true><button class="learn-more">Click me</button></a>
</div>


<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/mwkwppdr"})
  </script>


 <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="card-modal border-0 justify-content-center">
                                <div class="card-modal-header pb-0 bg-white text-center">
                                    <div class="row mb-0 justify-content-end">
                                        <div class="col-3"><img id="img-modal" class="img-fluid cross mb-auto " src="https://img.icons8.com/nolan/64/delete-sign.png" data-dismiss="modal"></div>
                                    </div>
                                    <div class="row mt-0">
                                        <div class="col"><img id="img-modal" class="img-fluid text-center" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1600683201/shiv1_his5js.png"></div>
                                    </div>
                                </div>
                                <div class="card-modal-body text-center px-lg-5 px-md-4 mb-3">
                                   <h2 class="modal-lo"><a class="mod" href="/", remote: true>Home</a></h2> <br>
                                  <h2 class="modal-lo"><a class="mod" href="/path/corona-package/page">Digital</a></h2> <br>
                                   <h2 class="modal-lo"><a class="mod" href="/path/about_development/page", remote: true>About</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/social-media-management/page", remote: true>Benefits</a></h2> <br>
			                             <h2 class="modal-lo"><a class="mod" href="/path/contact/page", remote: true>Contact</a></h2> <br>
				                           <h2 class="modal-lo"><a class="mod" href="/path/testimonials/page", remote: true><button id="start-btn-modal" class="btn btn-outline-success my-2 my-sm-0" type="submit">Testimonials</button></a></h2>
                                    <div class="row justify-content-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>