body {
    margin-bottom: 60px;
}

.footer {
    position: unset;
    bottom: 0px;
    width: 100%;
    background-color: #293241;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 0 31px;
    height: 300px;
    clear: both;
}

.smedia {
    display: inline-block;
    float: right;
    padding-right: 2%;
    margin-top: 5rem;
}

.footer small {
    color: #07689f;
}

.h4-fo {
    color: whitesmoke;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#loco-form {
    margin-top: 2rem;
    margin-left: 2rem;
}

#start-btn {
    width: 248px;
}

.acunt {
    color: whitesmoke;
}

.icons-social {
    display: flex;
    justify-content: space-around;
    width: 10rem;
    align-items: center;
    margin-top: 3rem;
    margin-left: 3rem;
}

#social-icons {
    color: whitesmoke;
}

.cntct {
    margin-left: -350px;
    margin-top: 80px;
}

.lanza {
    color: whitesmoke;
    width: 30rem;
    line-height: 1rem;
    margin-top: 6rem;
}

.lanzo {
    color: whitesmoke;
    line-height: 1rem;
    margin-top: 6rem;
}

a {
    color: whitesmoke;
}

@media only screen and (max-width: 480px) {
    .footer {
        display: none;
    }
}