body {
    margin-bottom: 60px;
}

.icon-sm {
    vertical-align: middle;
    border-style: none;
    width: 3rem;
    margin-bottom: 2rem;
}

.footer {
    position: unset;
    bottom: 0px;
    width: 100%;
    background-color: #293241;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 0 31px;
    clear: both;
}

.smedia {
    display: inline-block;
    float: right;
    padding-right: 2%;
    margin-top: 5rem;
}

.footer small {
    color: #07689f;
}

.h4-fo {
    color: whitesmoke;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#loco-form {
    margin-top: 2rem;
    margin-left: 2rem;
}

#start-btn {
    width: 248px;
}

.acunt {
    color: whitesmoke;
}

.icons-social {
    display: flex;
    justify-content: space-around;
    width: 10rem;
    align-items: center;
    margin-top: 3rem;
    margin-left: 3rem;
}

#social-icons {
    color: whitesmoke;
}

.cntct {
    margin-left: -350px;
    margin-top: 80px;
}

.lanza {
    color: whitesmoke;
    width: 30rem;
    line-height: 1rem;
    margin-top: 6rem;
}

.lanzo {
    color: whitesmoke;
    line-height: 1rem;
    margin-top: 6rem;
}

a {
    color: whitesmoke;
}

.footer small {
    color: whitesmoke;
    margin-left: 2rem;
}

@media only screen and (max-width: 480px) {
    #loco-form {
        margin-top: 2rem;
        margin-left: 2rem;
        display: none;
    }
    .h4-fo {
        display: none;
    }
    #start-btn {
        display: none;
    }
    .icons-social {
        display: flex;
        justify-content: space-around;
        width: 10rem;
        /* align-items: center; */
        margin-top: 3rem;
        margin-left: 3rem;
    }
    .lanzo {
        color: whitesmoke;
        line-height: 1rem;
        margin-top: 6rem;
        display: none;
    }
    .lanza {
        color: whitesmoke;
        width: 30rem;
        line-height: 1rem;
        margin-top: 6rem;
        display: none;
    }
    .cntct {
        margin-left: -350px;
        margin-top: 80px;
        margin-right: 4.5rem;
    }
    .footer {
        background-color: black;
    }
    .text-muted {
        color: black !important;
    }
    .icon-sm {
        width: 5rem;
        margin-bottom: 6rem;
    }
    .rights {
        display: none;
    }
    .get-in-touch .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 3.2em;
        line-height: 48px;
        padding-bottom: 48px;
        color: #5543ca;
        background: #5543ca;
        background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
        background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
        background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        margin-top: -1rem !important;
        font-family: "Quicksand", sans-serif;
    }
}