.grabcoffee {
    width: 8rem;
    height: 8rem;
    margin-top: -2rem;
}

#colimg {
    margin-left: 4%;
}

.explanation1 {
    color: whitesmoke;
    margin-top: 3rem;
    font-family: 'Rubik', sans-serif;
    margin-left: 0.5rem;
}

.explanation2 {
    color: whitesmoke;
    margin-top: 3rem;
    font-family: 'Rubik', sans-serif;
    margin-left: -1rem;
}

.explanation3 {
    color: whitesmoke;
    margin-top: 3rem;
    font-family: 'Rubik', sans-serif;
}